*,
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 600;
  color: #032b43;
}

p {
  color: #032b43;
}

.invisible {
  color: #68808e;
}

input:focus {
  border: 1px solid #1f6cb7;
}

input:hover {
  border: 1px solid #2086ea;
}

input {
  width: 450px;
  padding: 14px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #cccccc72;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.my-message {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: auto;
}

.my-message p {
  padding: 8px;
  background-color: #2086ea;
  color: white;
  width: auto;
  border-radius: 5px;
  height: auto;
  max-width: 695px;
}

img {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  padding: 8px;
}

.member-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
}

.member-message p {
  padding: 8px;
  background: white;
  color: black;
  width: auto;
  height: auto;
  max-width: 695px;
  border: 1px solid #2086ea;
  border-radius: 5px;
}

.container {
  height: 90vh;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.btn-primary {
  color: white;
  font-size: medium;
  background-color: #3390ec;
  border: none;
  border-radius: 10px;
  width: 450px;
  margin-top: 12px;
  padding: 14px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: #2086ea;
}

.btn-primary:active {
  background-color: #1f6cb7;
}

.custom-file-input {
  color: #0073e6;
  border: none;
  cursor: pointer;
}

#fileInput {
  display: none;
}

.file-input-container {
  margin-top: 12px;
  margin-bottom: 8px;
}
