*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
  color: white;
}

.contacts-container {
  width: 20vw;
  height: 93vh;
  background-color: #17212b;
  overflow-y: auto;
}

.panel-container {
  border-top: 1px solid #0e1621;
  background-color: #17212b;
  height: 7vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.switch-account {
  cursor: pointer;
  color: #B83044;
}

.contacts-container::-webkit-scrollbar {
  display: none;
}

.contact-info {
  width: 100;
  display: flex;
  flex-direction: row;
}

.last-message-sent-at {
  flex: 1;
  font-size: 14px;
  text-align: end;
  padding-right: 6px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 93vh;
  background-color: #0e1621;
  overflow: auto;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.user-message-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}

.sender-message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.message-sent-at {
  display: inline;
  margin-left: 10px;
  font-size: 12px;
}

.user-message-text {
  word-wrap: break-word;
  margin-right: 5px;
  padding: 8.5px;
  border-radius: 10px;
  background-color: #1f6cb7;
  overflow: auto;
}

.sender-message-text {
  word-wrap: break-word;
  margin-left: 5px;
  padding: 8.5px;
  border-radius: 10px;
  background-color: #182533;
  overflow: auto;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50px;
}

.message-input {
  width: 100%;
  height: 7vh;
  padding: 8px;
  border: none;
  background: #17212b;
  color: white;
  outline: none;
  border-left: 1px solid #0e1621;
}

.hint {
  background-color: #1e2c3a;
  padding: 4px 12px;
  border-radius: 10px;
  display: inline-block;
}

.contact-last-message-text {
  max-width: 100%;
  height: 21.6px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: lightgrey;
}

.contact-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact-avatar {
  width: 60px;
  height: 60px;
  padding: 6px;
  border-radius: 50px;
}

.contact-container:hover {
  background-color: #212b35;
  cursor: pointer;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

#fileInput {
  display: none;
}

.dark-blue {
  color: #032b43;
}

.light-grey {
  color: #68808e;
}

.custom-input {
  border: 1px solid #cccccc72;
  border-radius: 10px;
  outline: none;
  height: 50px;
  width: 400px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-input:hover {
  border: 1px solid #2086ea;
}

.custom-input:focus {
  border: 1px solid #1f6cb7;
}

.custom-button {
  border: none;
  border-radius: 10px;
  background-color: #3390ec;
  color: white;
  height: 45px;
  width: 400px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-button:hover {
  background-color: #2086ea;
}

.custom-button:active {
  background-color: #1f6cb7;
}

.fileinput-container {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
}

.info-message {
  color: green;
}

.mini-container {
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e1621;
}

.contact-name {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
