*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.my-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
}

.contacts {
  flex: 3;
  background-color: #223c3c;
}

.contact-info {
  flex: 8;
  padding: 6px;
  height: 100%;
}

.message-date {
  flex: 2;
  padding: 6px;
  height: 100%;
  color: lightgrey;
}

.conversation-container {
  flex: 7;
  position: relative;
  background-color: darkslategray;
  max-height: 100vh;
}

.messages-container {
  height: 93vh;
  width: 100%;
  margin: auto;
  overflow: auto;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.my-message-container {
  display: flex;
  flex-direction: row-reverse;
  min-height: 50px;
  align-items: center;
  padding: 8px;
}

.member-message-container {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  padding: 8px;
}

.my-message-text {
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-color: #1f6cb7;
}

.member-message-text {
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  background-color: rgb(89, 141, 141);
  border-radius: 10px;
  color: white;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  padding: 0px;
}

.message-input-container {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-input {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: none;
  background: #223c3c;
  color: white;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hint {
  position: absolute;
  left: 33%;
  bottom: 50%;
  border: 1px solid #4c8181;
  background-color: #4c8181;
  border-radius: 10px;
  display: inline-block;
  padding: 4px 12px;
}

.last-message {
  color: lightgrey;
}

.contact-container {
  display: flex;
  padding: 6px;
  align-items: center;
  height: 60px;
}

.contact-avatar {
  width: 60px;
  height: 60px;
  padding: 6px;
  border-radius: 50px;
}

.contact-container:hover {
  background-color: #488181;
  cursor: pointer;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

#fileInput {
  display: none;
}

.dark-blue {
  color: #032b43;
}

.light-grey {
  color: #68808e;
}

.custom-input {
  border: 1px solid #cccccc72;
  border-radius: 10px;
  outline: none;
  height: 50px;
  width: 400px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-input:hover {
  border: 1px solid #2086ea;
}

.custom-input:focus {
  border: 1px solid #1f6cb7;
}

.custom-button {
  border: none;
  border-radius: 10px;
  background-color: #3390ec;
  color: white;
  height: 45px;
  width: 400px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-button:hover {
  background-color: #2086ea;
}

.custom-button:active {
  background-color: #1f6cb7;
}

.fileinput-container {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
}

.info-message {
  color: green;
}
